<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Contato</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Deletar Contato</h1>
        <form id="deleteContactForm">
            <label for="deleteId">Id:</label>
            <input type="text" id="deleteId" required>
            <button type="submit">Deletar</button>
        </form>
        <div id="deleteResult"></div>
        <a href="../index.html">Voltar ao Menu Principal</a>
    </div>
    <script src="../Js/app.js"></script>
</body>
</html>
