<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Contato</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Buscar Contato</h1>
        <form id="searchContactForm">
            <label for="searchName">Nome:</label>
            <input type="text" id="searchName" required>
            <button type="submit">Buscar</button>
        </form>
        <div id="searchResult"></div>
        <a href="../index.html">Voltar ao Menu Principal</a>
    </div>
    <script src="../Js/app.js"></script>
</body>
</html>
