<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <img src="https://images.unsplash.com/photo-1497752531616-c3afd9760a11?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Guaxinim" class="guaxinim-img">
    <link rel="stylesheet" href="Styles/index.css">
</head>
<body>
    <div class="container">
        <h1>Menu Principal</h1>
        <ul class="menu">
            <li><a href="Pages/add_contact.html">Adicionar Contato</a></li>
            <li><a href="Pages/list_contacts.html">Listar Contatos</a></li>
            <li><a href="Pages/search_contact.html">Buscar Contato</a></li>
            <li><a href="Pages/update_contact.html">Atualizar Contato</a></li>
            <li><a href="Pages/delete_contact.html">Deletar Contato</a></li>
            <li><a href="https://www.google.com.br/?hl=pt-BR" onclick="window.close();">Sair</a></li>
        </ul>
    </div>
    <div class="footer">
        <p>&copy; 2024 Guaxinim Crud Python</p>
    </div>
    <script src="Js/app.js"></script>
</body>
</html>
